/*** VARIABLES ***/

// Base colors

$text-color: #777;
$primary-color: #58e1c1;
$default-color: #51ddfc;
$warning-color: #fd7856;
$error-color: #e4757a;
$success-color: #63cc82;
$info-color: #927bc1;
$white: #fff;


// Media queries

$breakpoint: 768px;

