/*** IMAGES ***/

.img {
        &-avatar {
            @include img-block;
            @include img-placement;
            max-height: 100%;  
        }
        &-frame {
            @include img-block;
            @include img-placement;
            padding: 13px;
            border: 1px solid #ccc;
        }
        &-logo {
            @include img-block;
        }
}
